<header class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-template-project" style="border-top: 4px solid #9E9E9E">
        <div class="navbar-brand">
            <div class="navbar-item feelpp-logo">
            <a href="https://hidalgo2.eu"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-hidalgo2-color.png" alt="{{site.title}}"></a>            
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://eurohpc-ju.europa.eu/"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-eurohpc-ju.png" alt="{{site.title}}"></a>            
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://numpex.org/"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-numpex.png" alt="{{site.title}}"></a>            
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.economie.gouv.fr/france-2030"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-france-2030.jpg" alt="{{site.title}}"></a>
            </div>  
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="https://docs.feelpp.org/">Documentation Reference</a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-brand"  href="https://www.cemosis.fr">
                        <a href="{{{site.url}}}"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-unistra.svg"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{{site.url}}}"><img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-cnrs.svg"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="cemosis-logo"  src="{{{uiRootPath}}}/img/cemosis-logo.svg" alt="Cemosis logo"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
